.admin-panel {
  padding: 20px;
}

.admin-header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.admin-header h1 {
  margin: 0 20px;
}

.add-item-button {
  padding: 9px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 20px;
}

.items-list {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 25px;
}

.edit-button {
  display: inline-block;
  margin: 10px auto;
  padding: 9px 15px;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
}

.back-button-admin {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}
