.wishlist {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 25px;
  margin: 0 30px;
}

.detail-button {
  margin: 0 auto;
  padding: 7px 15px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}
