* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

h1,
h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}
